body,
html {
  font-family: "Poppins", sans-serif;
  background: white;
  height: 100%;
  margin:0;
}
:root {
  text-size-adjust: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-header{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 35px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  color: #FAB007;
}
.logo{
  width: 40px;
  margin-right: 10px;
}
.menu-items{
  margin-right: 20px;
}
.navbar ul {
  list-style-type: none;
  overflow: hidden;
}
.navbar li {
  float: left;
}
.navbar li a {
  display: block;
  color: #FAB007;  
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: #FEF7EA;
  border-radius: 8px;
}
.profile{
  background-color: rgb(239, 239, 239);
  height: 100vh;
  padding: 10px 10px;
  display: flex;
}
.left-dash{
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100%;
  padding: 10px 10px;
  margin-right: 10px;
}
.center-dash{
  // background-color: red;
  width: 55%;
  border-radius: 20px;
  margin-right: 10px;
}
.center-top-dash{
  background-color: white;
  border-radius: 20px;
  height: 55%;
  margin-bottom: 10px;
  color:"yellow" !important;
  padding: 10px 20px;

}
.center-botton-dash{
  background-color: white;
  border-radius: 20px;
  height: 44%;
  padding: 10px 20px;
}
.right-dash{
  background-color: white;
  border-radius: 20px;
  width: 25%;
  height: 100%;
  padding: 10px 20px;
}
